/* Header.css */

/* Base styles for header */
.header {
    width: 100%;
    height: 70px;
    line-height: 70px;
}
.nav_links{
    cursor: pointer;
}
/* Navigation wrapper */
.nav_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo styles */
.logo {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

/* Logo image */
.logo_img {
    background: var(--primary-color);
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

/* Make logo image responsive */
.logo_img img {
    width: 100%;
}

/* Logo text */
.logo h2 {
    color: var(--heading-color);
    font-weight: 700;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1.1rem;
    margin: 0; /* Reset margin for consistency */
}

/* Navigation menu */
.menu {
    display: flex;
    align-items: center;
    column-gap: 2.7rem;
}
.nav_item a{
    color: var(--heading-color);
    font-weight: 600 !important;
}
/* Hover effect for navigation links */
.nav_item a:hover {
    color: var(--primary-color);
}

/* Right side of navigation bar */
.nav_right {
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
}

/* Register button styles */
.register_btn {
    border: none;
    outline: none;
    padding: 10px 15px;
    color: floralwhite;
    background: var(--primary-color);
    border-radius: 5px;
    font-family: var(--font-name);
    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;
}

/* Mobile menu styles */
.mobile_menu {
    color: var(--heading-color);
    font-size: 1.3rem;
    cursor: pointer;
    display: none; /* Hide by default, can be toggled for mobile view */
}

/* Sticky header */
.sticky_header {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 90;
    background: floralwhite;
}
